@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital@1&display=swap');
.App{
  background-color: black;
  height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App h1{
  color: chartreuse;
  font-size: 48px;
  font-family: 'Poppins',sans-serif;
}
.input input{
  width: 900px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;

}
.input{
  display: flex;
  justify-content: center;
  width: 100%;
}
.input button{
  padding: 20px;
  margin-left: 10px;
  border-radius: 20px;
  border: none;
}
.input button:hover {
  padding: 20px;
  margin-left: 10px;
  border-radius: 20px;
  border: none;
}